body {
    background-color: #AAB7B8;
}

#logo {
  position: fixed;
  left: 5px;
  top: 50px;
  left: 10px;
  height: 200px;
}

#sidebar {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 250px;
}

#tab1 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 250px;
  position: fixed;
  left: 70px;
}

#tab2 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 350px;
  position: fixed;
  left: 70px;
}

#tab3 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 450px;
  position: fixed;
  left: 70px;
}

<<<<<<< HEAD
#whiterectangle
{
  border-style: solid;
   border-width: 8px;
  border-color: white;
  height: 300px;
  width: 700px;
  position: fixed;
  left: 400px;
  top: 100px;
}


#welcome
{
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 100px;
  top: 30px;
  position: fixed;
  left: 400px;
}


#welcome2
{
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 60px;
  top: 250px;
  position: fixed;
  left: 480px;
=======
#titleslide {
  font-size: 30px;
  position: relative;
  left:300px;
  top:30px;
>>>>>>> fd79db069759e188832a4c011610d7e7a75705a9
}
