body {
    background-image: url("http://ak1.picdn.net/shutterstock/videos/13542191/thumb/1.jpg");
    background-color: #cccccc;
}

#logo {
  position: fixed;
  left: 5px;
  top: 50px;
  left: 10px;
  height: 200px;
}

#sidebar {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 250px;
}

#tab1 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 250px;
  position: fixed;
  left: 70px;
}

#tab2 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 350px;
  position: fixed;
  left: 70px;
}

#tab3 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 450px;
  position: fixed;
  left: 70px;
}
