body {
    background-color: #AAB7B8;
    height: 100%
}

#logo img {
  /*position: fixed;*/
  /*left: 5px;*/
  /*top: 50px;*/
  /*left: 10px;*/
  /*height: 200px;*/
  width: 100%;
}

#sidebar {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 250px;
}

#sidebar div {
  margin-top: 50px;
  text-align: center;
  /*border: 3px solid white;*/
  /*margin: 2px;*/
}

#root {
  margin-left: 300px;
}

#tab1 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  /*top: 250px;*/
  /*position: fixed;*/
  /*left: 70px;*/
}

#tab2 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  /*top: 350px;*/
  /*position: fixed;*/
  /*left: 70px;*/
}

#tab3 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  /*top: 450px;*/
  /*position: fixed;*/
  /*left: 70px;*/
}

#para {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 160px;
  /*position: fixed;*/
  left: 355px;
}

#para2 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 200px;
  /*position: fixed;*/
  left: 355px;
}

#para3 {
  color: white;
<<<<<<< HEAD
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  top: 250px;
  /*position: fixed;*/
=======
  font-family:'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  top: 350px;
  position: fixed;
  left: 355px;
}

#para4 {
  color: white;
  font-family:'Barlow Semi Condensed', sans-serif;
  font-size: 47px;
  top: 300px;
  position: fixed;
>>>>>>> 164344a44f9f1a4672e0869c5dbeeab81fdb9c7b
  left: 355px;
}

#musicplayer1
{
  /*position: fixed;*/
  left: 500px;
  top:450px;
}

#button {
  font-size: 30px;
  top: 750px;
  position: fixed;
  left: 1000px;
}

#title {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 70px;
  top: 20px;
  /*position: fixed;*/
  left: 355px;
}



#whiterectangle {
  border-style: solid;
   border-width: 8px;
  border-color: white;
  height: 300px;
  width: 700px;
  /*position: fixed;*/
  left: 400px;
  top: 100px;
}


#welcome {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 100px;
  top: 50px;
  /*position: fixed;*/
  left: 650px;
}


#welcome2 {
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 60px;
  top: 220px;
  /*position: fixed;*/
  left: 480px;
}

#titleslide {
  font-size: 70px;
  color:#FDFEFE;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /*position: fixed;*/
  left: 400px;
  top:10px;
}

#list {
  list-style-type: circle;
  font-size: 20px;
  color:#FDFEFE;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /*position: fixed;*/
  top:250px;
  left:450px;
}

#begin {
  font-size: 30px;
  color:#FDFEFE;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /*position: fixed;*/
  left:450px;
  top:175px;
}

#costumelist {
  list-style-type: circle;
  font-size: 20px;
  color:#FDFEFE;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /*position: fixed;*/
  top: 500px;
  width: 1000px;
  left:350px;
}

#costumetitle{
  font-size: 30px;
  color:#FDFEFE;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /*position: fixed;*/
  left: 300px;
  top:400px;
}

#click1 {
  height: 80px;
  /*position: fixed;*/
  width: 250px;
  top: 230px;

}

#click2 {
  height: 80px;
  /*position: fixed;*/
  width: 250px;
  top: 330px;

}

#click3 {
  height: 80px;
  /*position: fixed;*/
  width: 250px;
  top: 430px;

}

#click3:hover { background-color: 	#282828; }
#click2:hover { background-color: 	#282828; }
#click1:hover { background-color: 	#282828; }
